//colors 
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;


$z-fixed-menu: 100;

// //normalaize
@import "_misc/normalize.scss";

// // setup
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

// blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/btn";
@import "blocks/promo";
@import "blocks/reviews";
@import "blocks/form";
@import "blocks/fixed-menu";