.fixed-menu {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 2;

}


.fixed-menu__dot {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 3px;
  position: relative;

  &--active {
    background-color: $white;
  }

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);

  }
}